// Here you can add other styles

body{
    font-family: 'Mulish',sans-serif;
    background-color: #F5F6F8;
    user-select: none;
}


.bg-custom{
    background:linear-gradient(
        to bottom,
        #FFA66A 0%,
        #FFA66A 50%,
        #C5D7EE 50%,
        #C5D7EE 100%
    )
}

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 26px;
    .loginh1{
        font-size: 24px;
        font-weight: 700;
    }
    p{
        margin-top: 12px;
    }

    .text-medium-emphasis{
        font-size: 14px;
    }
}

.textfield{
    display: flex;
    flex-direction: column;
    .loginfield{
        width: 100%;
        border-radius: 8px;
        background-color: #FCFDFE;
        border: 1px solid #F0F1F7;
    }
}

.logincard{
    display: flex;
    flex-direction: column;
    align-items: center;
    .loginform{
        width: 316px;
        margin-top: 48px;

        label{
            font-weight: 700;
            color: #9FA2B4;
        }
    }
}

.Layout-Container{
    width: 87vw;
    height: 92.5vh;
    margin-top: 71px;
    background-color: #F5F6F8;
    margin-left: 36px;
    margin-top: 102px;
    overflow:scroll;
}

@media screen and (max-width:1662px){
    .Layout-Container{
        width: 78vw;
        height: 92.5vh;
        margin-top: 71px;
        background-color: #F5F6F8;
        margin-left: 36px;
        margin-top: 102px;
        overflow:scroll;
    }
}

.mainpage{
    display: flex;
    height: 100vh;
    overflow: scroll;
}
a{
    text-decoration: none;
  }
