.addimage {
  width: 100px;
  height: 100px;
  background: radial-gradient(rgb(233, 233, 233), lightgrey);
  border-radius: 100px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px -2px #b9b9b9;
}

.uploadphoto {
  display: flex;
  padding-left: 0;
  padding-top: 7px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2F80ED;
}

.form{
    width: 50vw;
}
