.demopage{
    margin-left: 40px;
    margin-top: 20px;
    .demofilter{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .createdemo{
        border: none;
        background-color: #fd6b09;
        font-weight: 500;
        color: white;
        border-radius: 7px;
        height: 50px;
        width: 230px;
        box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      }
    }
}

.createdemo{
  border: none;
  background-color: #fd6b09;
  font-weight: 500;
  color: white;
  border-radius: 7px;
  height: 50px;
  width: 230px;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
}

.demotitle {
  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 29px;
  }

  .filter {
    background-color: none;
    color: #fd6b09;
    outline: none;
  }
}

.numselected {
  background-color: rgb(255, 255, 255);
  height: 50px;
  display: flex;
  align-items:center;
  padding-left: 70px;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.memberoptions{
  margin-left: 10px;
}
