.demopage{
    margin-left: 40px;
    margin-top: 20px;
    .demofilter{
      display: flex;
      justify-content: space-between;
      width: 1500px;
      margin-bottom: 10px;

      .createdemo{
        border: none;
        background-color: #fd6b09;
        font-weight: 500;
        color: white;
        border-radius: 7px;
        height: 40px;
      }
    }
}
.demotitle {
  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 29px;
  }

  .filter {
    background-color: none;
    color: #fd6b09;
    outline: none;
  }
}

